<a href="https://colab.research.google.com/github/Cristian0901/dos34cinco/blob/main/miprimermodelo(IA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving MarathonData.csv to MarathonData.csv

In [ ]:
import io
import pandas as pd
datos_maraton = pd.read_csv(io.BytesIO(uploaded['MarathonData.csv']))

In [ ]:
datos_maraton

    id  Marathon              Name  ... Wall21  MarathonTime  CATEGORY
0    1  Prague17      Blair MORGAN  ...   1.16          2.37         A
1    2  Prague17     Robert Heczko  ...   1.23          2.59         A
2    3  Prague17     Michon Jerome  ...   1.30          2.66         A
3    4  Prague17     Daniel Or lek  ...   1.32          2.68         A
4    5  Prague17      Luk ? Mr zek  ...   1.36          2.74         A
..  ..       ...               ...  ...    ...           ...       ...
82  83  Prague17  Stefano Vegliani  ...   2.02          3.93         D
83  84  Prague17    Andrej Madliak  ...   1.94          3.93         D
84  85  Prague17        Yoi Ohsako  ...   1.94          3.94         D
85  86  Prague17        Simon Dunn  ...   2.05          3.95         D
86  87  Prague17       Pavel ?imek  ...   2.05          3.98         D

[87 rows x 10 columns]

In [13]:
datos_maraton['Name']

0         Blair MORGAN
1        Robert Heczko
2        Michon Jerome
3        Daniel Or lek
4         Luk ? Mr zek
            ...
82    Stefano Vegliani
83      Andrej Madliak
84          Yoi Ohsako
85          Simon Dunn
86         Pavel ?imek
Name: Name, Length: 87, dtype: object